html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  /* Basic styles */

  min-width: 320px;
  max-width: 428px;
  padding: 0 16px;
  margin: 0 auto;
}

/* Tablet */

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Desctop */

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
}

/* Navigation */

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-nav {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

@media only screen and (max-width: 767px) {
  .container-nav {
    justify-content: space-between;
  }
}

.logo-text {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.link-logo {
  text-decoration: none;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

@media only screen and (min-width: 768px) {
  .link-logo {
    margin-right: 120px;
  }

  @media only screen and (min-width: 1157px) {
    .link-logo {
      margin-right: 76px;
    }
  }
}

.navi-list {
  display: flex;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .navi-list {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .navi-list {
    display: flex;
  }
}

.nav-line {
  display: flex;
  align-items: center;
}

.navi-list .navi-link {
  list-style: none;
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-decoration: none;
  position: relative;

  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navi-list .item-nav:not(:last-child) {
  margin-right: 40px;
}

.navi-list .navi-link:hover,
.navi-list .navi-link:focus {
  color: var(--hover-color);
}

.navi-link::after {
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
}

.navi-link.active::after {
  background: #404bbf;
}

.navi-list .active {
  color: #404bbf;
}

@media only screen and (max-width: 767px) {
  .address {
    display: none;
  }
}

@media only screen and (min-width: 1128px) {
  .list-address {
    display: flex;
  }
}

.list-address {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 1157px) {
  .list-address {
    gap: 40px;
  }
}

.address {
  font-style: normal;
  margin-left: 122px;
}

@media only screen and (min-width: 1157px) {
  .address {
    margin-left: auto;
  }
}

.contacts {
  font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 1157px) {
  .contacts {
    font-size: 16px;
  }
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}


.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #e7e9fc;
  border: 1px solid #e7e9fc;
  min-width: 24px;
  min-height: 24px;
}

.mobile-menu {
  padding: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu .mobile-link {
  display: block;
  color: #2e2f42;
  text-decoration: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mobile-menu .mobile-link:focus {
  color: #404bbf;
}

.mobile-menu-close-button {
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  right: 24px;
  left: 24px;
}


.mobile-contacts-list {
  margin-top: 0;
  margin-bottom: 48px;
}

.mobile-contacts-item:not(:last-child) {
  margin-bottom: 40px;
}

.phone-contact-link {
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  color: #4d5ae5;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.email-contact-link {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #434455;
  letter-spacing: 0.02em;
}

.mobile-addresses .mobile-social {
  gap: 13%;
  margin: 0;
  justify-content: flex-start;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-addresses .mobile-socials .link:focus {
  background-color: #404bbf;
}


/* Hero */

.hero-section {
  background: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/img-background/background-mob1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 502px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/img-background/background-mob1.jpg);
  }
}

@media only screen and (min-width: 429px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/img-background/background-tab1.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/img-background/background-tab1.jpg);
    }
  }
}

@media only screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/img-background/background-desc.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/img-background/background-desc.jpg);
    }
  }
}

.hero-container {
  padding-top: 112px;
}

.main-title {
    font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.07;
      letter-spacing: 0.02em;
      color: #ffffff;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 72px;
      text-align: center;
      max-width: 320px;
}

.button-hero {
  background: #4d5ae5;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
  
    display: block;
    min-width: 169px;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
  color: #ffffff;
}








/* Modal Window/ */

.modal {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 24px;
  padding-top: 72px;
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1000ms ease-in;
}

.modal.is-hidden .modal-window {
  opacity: 0;
  transform: translate(-100%, -85%);
  transition: transform 500ms ease-out, opacity 500ms;
}

.button-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal {
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover,
.button-modal:focus {
  background-color: #404bbf;
  border: none;

  fill: #ffffff;
}

.modal-title {
  display: block;


  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;

  text-align: center;
  color: #2e2f42;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;

  line-height: 14px;
  letter-spacing: 0.04em;
}

.form-wpaper {
  position: relative;
  margin-bottom: 8px;
  display: block;
}

.form-field {
  width: 100%;
  height: 40px;

  padding: 0;
  padding-left: 38px;

  outline: none;
  outline-offset: -1px;
  border-radius: 4px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus {
  outline: 1px solid #4d5ae5;
  box-shadow: 0 0 0 2px rgba(77, 90, 229, 0.25);
}

.form-field:focus+.form-icon {
  fill: #4d5ae5;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.form-comment {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 8px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-comment:focus {
  border: 1px solid #4d5ae5;
  box-shadow: 0 0 0 2px rgba(77, 90, 229, 0.25);
}

.form-agreement {
  display: flex;
  gap: 8px;

  margin-top: 16px;
  margin-bottom: 24px;
  align-items: center;
}

.form-agreement-text {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  user-select: none;
  margin-left: 8px;
}

.form-agreement-link {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration: underline;
  color: #4d5ae5;
}

.checkbox-checked {
  opacity: 0;
  transition: 250ms;
  color: #2E2F42 40%;
}

.checkbox-unchecked {
  opacity: 1;
  transition: 250ms;
}

.form-check-input:checked+.checkbox-icon>.checkbox-unchecked {
  opacity: 0;
}

.form-check-input:checked+.checkbox-icon>.checkbox-checked {
  opacity: 1;
}


.form-agreement-link {
  color: #4d5ae5;
}

.btn {
  padding: 16px 32px;
  background: #4d5ae5;
  border: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  letter-spacing: 0.04em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  min-height: 56px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.btn:focus {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}


/* Portfolio */

.nav-portfolio {
  border-bottom: 1px solid #e7e9fc;

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-portfolio {
  display: flex;
}

.sec-portfolio {
  padding: 96px 0 120px;
}

.list-button {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
  list-style: none;
}

.button-filter {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #f4f4fd;
  color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover {
  background-color: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-filter:focus {
  background-color: #404bbf;
  color: #ffffff;
  border: 1px solid;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-portfolio {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.card-portfolio {
  width: calc((100% - 48px) / 3);
}

.info-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.card-desk {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.link-portfolio {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-portfolio:hover,
.link-portfolio:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.link-portfolio:hover .img-desk,
.link-portfolio:focus .img-desk {
  transform: translateY(0%);
}

.img-container {
  position: relative;
  overflow: hidden;
}

.img-desk {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}